.single-container
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 登録情報変更
      = form_for(resource, url: registration_path(resource_name), html: {method: :patch, id: "new_user_form",class: 'l-single-inner'}) do |f|
        = render "devise/shared/error_messages", resource: resource
        .l-single-content
          .form-group
            = f.label :ニックネーム（20文字以内）
            %span.form-require 必須
            = f.text_field :nickname, autofocus: true, placeholder: "例) フリマっちょ", required: "required", maxlength: "20", class: 'input-default'
          .form-group
            = f.label :メールアドレス
            %span.form-require 必須
            = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可",required: "required", pattern: "/\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i", class: "input-default"
          .form-group
            = f.label :本名（全角）
            %span.form-require 必須
            %br/
            = f.text_field :family_name, placeholder: "例) 振間",required: "required", class: "input-default__name"
            = f.text_field :name, placeholder: "例) 太郎",required: "required", class: "input-default__name"
          .form-group
            = f.label :本名カナ（全角）
            %span.form-require 必須
            %br/
            = f.text_field :family_name_kana, placeholder: "例) フリマ",required: "required", pattern: "^[ァ-ンヴー]*$", title: "カタカナで入力してください。", class: "input-default__name"
            = f.text_field :name_kana, placeholder: "例) タロウ",required: "required", pattern: "^[ァ-ンヴー]*$", title: "カタカナで入力してください。", class: "input-default__name"
          %h2.l-single-head 送付先情報変更
          .form-group
            = f.label :送付先宛名（全角）
            %span.form-require 必須
            %br/
            = f.text_field :destination_family_name, placeholder: "例) 振間",required: "required", class: "input-default__name"
            = f.text_field :destination_name, placeholder: "例) 太郎",required: "required", class: "input-default__name"
          .form-group
            = f.label :送付先宛名カナ（全角）
            %span.form-require 必須
            %br/
            = f.text_field :destination_family_name_kana, placeholder: "例) フリマ",required: "required", pattern: "^[ァ-ンヴー]*$", title: "カタカナで入力してください。", class: "input-default__name"
            = f.text_field :destination_name_kana, placeholder: "例) タロウ",required: "required", pattern: "^[ァ-ンヴー]*$", title: "カタカナで入力してください。", class: "input-default__name"
          .form-group
            = f.label :郵便番号（ハイフン除く）
            %span.form-require 必須
            = f.text_field :postal_code, placeholder: "例) 1234567",required: "required", minlength: "7", maxlength: "7", pattern: "^[0-9]+$", title: "ハイフンを除き、数字のみ", class: 'input-default'
          .form-group
            = f.label :都道府県
            %span.form-require 必須
            = f.collection_select :prefecture, Prefecture.all, :id, :name, {include_blank: "---"} ,{required: "required",class: "input-default"}
          .form-group
            = f.label :市区町村
            %span.form-require 必須
            = f.text_field :city,required: "required", placeholder: "例) 渋谷区", class: 'input-default'
          .form-group
            = f.label :番地
            %span.form-require 必須
            = f.text_field :street,required: "required", placeholder: "例) 神南１丁目１２－１６", class: 'input-default'
          .form-group
            = f.label :建物名
            %span.form-optional 任意
            = f.text_field :building, placeholder: "例) アジアビル ９Ｆ", class: 'input-default'
          .form-group
        
        .l-single-content
          %button.btn-default.btn-next{type: "submit"} 変更する
  = render "layouts/user_footer"