.my-list.clearfix
  %ul.lists
    %li#list1.active
      = link_to "#content1" do
        マイページ
      =icon("fas", "chevron-right")
    %li#list2
      = link_to "#content2" do
        お知らせ
      =icon("fas", "chevron-right")
    %li#list3
      = link_to "#content3" do
        やることリスト
      =icon("fas", "chevron-right")
    %li#list4
      = link_to "#content4" do
        いいね！一覧
      =icon("fas", "chevron-right")
    %li#list5.sideLink
      = link_to new_product_path do
        出品する
      =icon("fas", "chevron-right")
    %li#list6
      = link_to "#" do
        出品した商品 - 出品中
      =icon("fas", "chevron-right")
    %li#list7
      = link_to "#" do
        出品した商品 - 取引中
      =icon("fas", "chevron-right")
    %li#list8
      = link_to "#" do
        出品した商品 - 売却済み
      =icon("fas", "chevron-right")
    %li#list9
      = link_to "#" do
        購入した商品 - 取引中
      =icon("fas", "chevron-right")
    %li#list10
      = link_to "#" do
        購入した商品 - 過去の取引
      =icon("fas", "chevron-right")
    %li#list11
      = link_to "#" do
        ニュース一覧
      =icon("fas", "chevron-right")
    %li#list12
      = link_to "#" do
        評価一覧
      =icon("fas", "chevron-right")
    %li#list13
      = link_to "#" do
        ガイド
      =icon("fas", "chevron-right")
    %li#list14
      = link_to "#" do
        お問い合わせ
      =icon("fas", "chevron-right")

  %h3 設定
  %ul.lists
    %li#list15
      = link_to "#" do
        プロフィール
      =icon("fas", "chevron-right")
    %li#list16.sideLink
      = link_to edit_user_registration_path(current_user) do
        登録情報変更
      =icon("fas", "chevron-right")
    %li#list17
      = link_to "#content17" do
        支払い方法
      =icon("fas", "chevron-right")

    %li#list21
      = link_to "#content21" do
        ログアウト
      =icon("fas", "chevron-right")

    %ul.panels
      
