= link_to "#" do
  =image_tag "/assets/furima-icon.png"
  .body
    %p お知らせ：てすと
    .time
      = icon("far","clock")
      %span 4 時間前
  =icon("fas", "chevron-right")
= link_to "#" do
  = image_tag "/assets/furima-icon.png"
  .body
    %p お知らせ：てすと
    .time
      = icon("far","clock")
      %span 5 時間前
  =icon("fas", "chevron-right")

