.my-content__tabpage.clearfix
  %p.title やることリスト
        
  %ul.panels
    %li#cont1.panel.active
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 4 時間前
        =icon("fas", "chevron-right")
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 5 時間前
        =icon("fas", "chevron-right")
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 5 時間前
        =icon("fas", "chevron-right")
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 5 時間前
        =icon("fas", "chevron-right")
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 5 時間前
        =icon("fas", "chevron-right")
        
    %li#cont2.panel 
      = link_to "#" do
        %img{ src: "/assets/furima-icon.png"}
        .body
          %p お知らせ：てすと
          %time
            = icon("far","clock")
            %span 5 時間前
        =icon("fas", "chevron-right")