-# ヘッダー
=render "shared/main_header"

.mypage.clearfix
  .my-content
    %ul.sideber-contents
      %li#content1.sideActive
        = render "myContent"
      %li#content2
        = render "notice"
      %li#content3
        = render "todoList"
      %li#content4
        = render "favorite"
      %li#content5

      %li#content6

      %li#content7

      %li#content8

      %li#content9

      %li#content10

      %li#content11

      %li#content12

      %li#content13

      %li#content14

      %li#content15

      %li#content16

      %li#content17

      %li#content18

      %li#content19

      %li#content20

      %li#content21
        = render "logout"

  = render "sideber"

-# フッダー
=render "shared/main_footer"
