.footer
  .footer__contents
    .contents-list
      .contents-list__title
        FURIMAについて
      %ul.content--list
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    .contents-list
      .contents-list__title
        FURIMAを見る
      %ul.content--list
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    .contents-list
      .contents-list__title
        ヘルプ＆ガイド
      %ul.content--list
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ

  .footer__logo
    = link_to "#" do
      =image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg" 
    %p © FURIMA