.topHeader
  .topHeader-inner
    .topHeader-inner__main
      .topHeader-inner__main--icon
        = link_to "#" do
          =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
      .topHeader-inner__main--searchBox
        = form_for "" do |f|
          .search-form
            = f.text_field :name, class: "search-form--text", placeholder: "キーワードから探す"
            = button_tag type: "submit", class: 'search-form--btn' do
              = icon("fa","search", class:"search-icon")
    .topHeader-contents
      - categories = ["レディース","メンズ","インテリア・住まい・小物","本・音楽・ゲーム","おもちゃ・ホビー・グッズ","コスメ・香水・美容","家電・スマホ・カメラ","スポーツ・レジャー","ハンドメイド","チケット","自動車・オートバイ","その他"]
      - @parent = 0
      %ul.gnav
        %li.gnav-category
          = link_to "#" do
            カテゴリー
          %ul.list
            - categories.each do |a|
              %li
                = link_to "#" do 
                  = a
                = render "top/childLink"
              - @parent += 1
        %li.left-list__brand
          = link_to "#" do
            ブランド
      %ul.right-list
        - unless user_signed_in?
          %li.right-list__content
            = link_to "ログイン", new_user_session_path
          %li.right-list__content
            = link_to "新規会員登録", new_user_registration_path
        - else
          %li.right-list__content
            = link_to "マイページ", user_path(current_user)
            -# 一時的に、ログアウト機能をトップページにも設置しています
          %li.right-list__content
            = link_to "ログアウト",destroy_user_session_path, method: :delete