.single-container
  = render "users/user_header"
  .login-main
    .login-panel
      // 新規会員登録画面へ
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", root_path

      // メールアドレスでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'l-single-inner'}) do |f|
        // アドレス・パスワード入力
        .mail-account__field
          .mail-account__field--address
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "address__input"

          .mail-account__field--password
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "password__input"

          // ログインボタン
          = f.submit "ログイン", class: "mail-account__field--login-btn"
          = link_to "パスワードをお忘れの方"

  = render "users/user_footer"
