.category-index
  .container
    %h2 カテゴリー一覧
    .main-category-links
      - @main_categories.each do |category|
        = link_to category.name, { anchor: "category-#{category.id}" }, class: 'main-category-link'
    .category-boxes
      -@main_categories.each do |category|
        .category-box
          %h3.category-box__header{id: "category-#{category.id}"}
            = category.name
          .sub-category-lists
            = link_to "すべて", category_path(category.id), class: 'category-link'
            - if category.children.present?
              - category.children.each do |child|
                .sub-category-name
                  = child.name
                .sub-sub-category-links
                  - child.children.each do |gchild|
                    .link-box
                      = link_to gchild.name, category_path(gchild.id), class: 'category-link'
