-# ヘッダー
=render "shared/main_header"

-# メイン
.category-page
  .container
    .child-links
      - @children.each do |child|
        = link_to child.name, category_path(child.id), class: 'child-link'
    .item-container
      .item-container__header
        = "#{@category.name}の商品一覧"
      .items
        - @products.each do |product|
          =link_to product_path(product.id), class: 'item' do
            = image_tag product.images[0].image.url, size: '188x188', class: 'item__image'
            .item__body
              %h3.item__body__name
                =product.name
              .item__body__price
                = "¥ #{product.price}"

    .category-label
      = @parent.present? ? "#{@category.name}(#{@parent.name})" : @category.name

-# フッター
=render "shared/main_footer"
-# カメラアイコン
=render "shared/exhibition_btn"
