.category-page
  .container
    .child-links
      - @children.each do |child|
        = link_to child.name, category_path(child.id), class: 'child-link'
    .item-container
      .item-container__header
        = "#{@category.name}の商品一覧"
      .items
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
        =link_to "#", class: 'item' do
          = image_tag 'logo.png',size: '188x188', class: 'item__image'
          .item__body
            %h3.item__body__name
              セーラー服
            .item__body__price
              ¥ 30,000
    .category-label
      = @parent.present? ? "#{@category.name}(#{@parent.name})" : @category.name
