.show-container
  .show-content
    .content-head-img
      =link_to root_path do
        = image_tag "logo.png"
    
    .buy-confirmation
      %h2.buy-head 購入内容の確認
      .buy-product
        .buy-item
          = image_tag @product.images[0].image.url
          .buy-item__info
            %p.buy-item__info--name
              = @product.name
            .buy-item__info--price
              = @product.price
              円
              %span.buy-item__info--free (税込) 送料込み
      .buy-content
        %form.buy-form
          .buy-price
            .buy-price__head 支払い金額
            .buy-price__int 
              = "¥#{@product.price}"
          .payment-method
            .payment-method__head 支払い方法
            =link_to "#", class: "payment-method__text" do
              %span.payment-method__text--plus ＋
              %span.payment-method__text--char 登録してください
          .shipping-address
            .shipping-address__head
              %span 配送先
              %div
                =link_to "変更する", edit_user_registration_path(current_user)
            %p.shipping-address__text
              〒
              = @user.postal_code
              %br
              = "#{@prefecture.name} #{@user.city} #{@user.street} #{@user.building}"
          .buy-button
            %button 購入する
    
    =render "layouts/user_footer"
