-# メインヘッダー
= render "shared/main_header"
-# トップメイン
.top-main
  .top-bannar
    .content
      .content--title
        %p 人生を変えるフリマアプリ
      .content--text
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです

      .content__btn
        = link_to "#" do
          =image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to "#" do
          =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUWgBU055_AbmuItYPL0LYNnDctNdkf45G4-4TfmxsCZKHAsek"

  .top-Introduction
    .top-Introduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.Introduction-lists
      %li.list
        .list--pict
          =image_tag "/assets/pict-reason-01.jpg"
          .number
            1
        .text
          %span 
            3分
          ですぐに出品    
        %p.description 
          スマホで入力するだけで簡単に出品できる！

      %li.list
        .list--pict
          =image_tag "/assets/pict-reason-02.jpg"
          .number
            2
        .text
          %span 
            シンプル
          で使いやすい    
        %p.description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list--pict
          =image_tag "/assets/pict-reason-03.jpg"
          .number
            3
        .text
          手数料
          %span 
            業界最安   
        %p.description 
          最大3%でお得に出品&購入！


  .top-Middle
    .top-Middle__inner
      .top-Middle__inner--title
        会員数日本一位
      .top-Middle__inner--text
        %P FURIMAは、フリマアプリで最も人気。
        %P 出品・購入回数も業界最多です！
        %P ほしかったあの商品に出会えるかもしれません。
      .top-Middle__inner--btn
        = link_to "#" do
          =image_tag "https://ashidaiin.com/wp-content/uploads/2018/01/app-store.png"
        = link_to "#" do
          =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUWgBU055_AbmuItYPL0LYNnDctNdkf45G4-4TfmxsCZKHAsek"


  .top-feature
    .top-feature__subtitle
      FURIMAの特徴
    %ul.feature-lists
      %li.list
        .list--pict
          =image_tag "/assets/icon-01.png"
        .text
          簡単に売り買いできる 
        %p.description 
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      %li.list
        .list--pict
          =image_tag "/assets/icon-03.png"
        .text
          売上金は即日振込みに対応 
        %p.description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.list.list--last
        .list--pict
          =image_tag "/assets/icon-04.png"
        .text
          様々な支払いに対応 
        %p.description 
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  //すべてのカテゴリ一覧
  .pickupContainer
    .pickupContainer__title
      カテゴリ一覧
    .pickupContainer__box
      .pickupContainer__box--subtitle
        = link_to "#" do
          全ての商品
      .pickupContainer__box--categories
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
                
  //ピックアップブランド
  .pickupContainer
    .pickupContainer__title
      ピックアップブランド
    .pickupContainer__box
      .pickupContainer__box--subtitle
        = link_to "#" do
          アーカイバ
      .pickupContainer__box--categories
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
        .category
          = link_to "#", class: "category__link" do
            .category__link--img
              =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            .category__link--text
              %p product3
              %ul
                %li
                  30000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p.tax 
                (税込)
.appBannar
  .appBannar__inner
    .appBannar__inner--title
      だれでもかんたん、人生を変えるフリマアプリ
    .appBannar__inner--text
      今すぐ無料ダウンロード！
    .appBannar__inner--btn
      = link_to "#" do
        =image_tag "https://ashidaiin.com/wp-content/uploads/2018/01/app-store.png"
      = link_to "#" do
        =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUWgBU055_AbmuItYPL0LYNnDctNdkf45G4-4TfmxsCZKHAsek"

-# フッター
= render "shared/main_footer"

-# 出品ボタン
= render "shared/exhibition_btn"